APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:vw/2RCxKWRyEMJ6PbpM2XdGaFDntnRKIpP7y36sNG6o=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mm_db
DB_USERNAME=root
DB_PASSWORD=

# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=u510162695_mm_db
# DB_USERNAME=u510162695_mm_db_root
# DB_PASSWORD=1Mm_db_root

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=true

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379


MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587  # or 465 if you prefer SSL
MAIL_USERNAME=nelbanbetache@gmail.com
MAIL_PASSWORD=bncmawqvytcarzgw
MAIL_ENCRYPTION=tls  # or 'ssl' if using port 465
MAIL_FROM_ADDRESS=nelbanbetache@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

NOCAPTCHA_SITEKEY=6Lc0Zk8qAAAAAJyrbJm8kTI-USRHiDiwCzgMz_2B
NOCAPTCHA_SECRET=6Lc0Zk8qAAAAAGH94qPkICWfVcdDb2Ak5TZCROtM


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

OPENAI_API_KEY=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
OPENAI_ORGANIZATION=org-szUpSNGwAsxAVmp4mhoOAccM