<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On

    # Prevent access to the .env file
    RewriteRule ^\.env$ - [F,L]

    # Prevent access to index.php followed by any number (e.g., index.php7, index.php2, etc.)
    RewriteRule ^index\.php\d+$ - [F,L]

    # Ensure all non-public requests are directed to the /public/ directory
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteRule ^(.*)$ /public/$1 [L]

    # Direct the root (/) to the public/index.php
    RewriteRule ^(/)?$ public/index.php [L]
</IfModule>
