
.form-control { border-radius: 2px !important; }
.btn-primary {
    background-color: #F6A5BB;
    border: none;
}
.floating-shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: box-shadow 0.3s ease-in-out;
}

.floating-shadow:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5), 0 12px 40px rgba(0, 0, 0, 0.8);
}
.btn-primary.no-hover:hover {
    background-color: #F6A5BB; /* Default Bootstrap primary color */
    border-color: #0d6efd; /* Default Bootstrap primary color */
}
.card {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
        }
.toggle-password {
    position: absolute;
    right: 10px;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
    }
    .h-captcha{
        transform: scale(0.90);
        transform-origin: 0 0;
    }
    @media{
        h-captcha{
            transform: scale(0.90);
            transform-origin: 0 0;  
        }
    }
