.form-control { border-radius: 2px !important; }
footer {
    text-align: center;
    padding: 1em;
    background-color: transpent;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    footer {
        font-size: 0.8em;
    }
}

@media (min-width: 769px) {
    footer {
        font-size: 1em;
    }
}
.btn-primary {
background-color: #F6A5BB;
border: none;
}
.floating-shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: box-shadow 0.3s ease-in-out;
}

.floating-shadow:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5), 0 12px 40px rgba(0, 0, 0, 0.8);
}
.btn-primary.no-hover:hover {
    background-color: #F6A5BB; /* Default Bootstrap primary color */
    border-color: #0d6efd; /* Default Bootstrap primary color */
}
.close-button-container {
        text-align: right;
    }
    .form-control {
        transition: background-color 0.3s ease; /* Smooth transition for background color */
    }
    .strength-indicator {
    height: 5px; /* Height of the indicator */
    background-color: transparent; /* Default to transparent */
    transition: width 0.3s ease, background-color 0.3s ease; /* Smooth transition for width and color */
    border-radius: 3px; /* Rounded corners */
    margin-top: 5px; /* Space above the indicator */
}

.strength-indicator.weak {
    /* Styles for weak can be left empty as we set it in JavaScript */
}

.strength-indicator.moderate {
    /* Styles for moderate can be left empty as we set it in JavaScript */
}

.strength-indicator.strong {
    /* Styles for strong can be left empty as we set it in JavaScript */
}


.mb-4 {
    position: relative; /* Ensure this parent is positioned */
}

.toggle-password {
    position: absolute; /* Absolutely position the toggle icon */
    right: 15px; /* Adjust this value to suit your design */
    top: 61%; /* Center vertically */
    transform: translateY(-50%); /* Adjust to ensure centering */
    cursor: pointer;
    z-index: 10; /* Optional: ensures the icon is above the input */
}

/* Optional: Adjust the input padding */
input[type="password"] {
    padding-right: 40px; /* Give enough space for the icon */
}


@media (max-width: 768px) { /* Adjust the max-width as needed */
    .toggle-password {
        right: 10px; /* Reduce right margin on smaller screens */
        top: 61%; /* Keep centered */
    }
}